# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/petnerdb
SPRING_DATASOURCE_USERNAME=your_postgres_username
SPRING_DATASOURCE_PASSWORD=your_postgres_password

# Redis Configuration
SPRING_REDIS_CACHE_HOST=localhost
SPRING_REDIS_CACHE_PORT=6380